{%  extends 'ro/main.html' %}

{% block content %}
<div class="row">
		<div class="card card-body">
		<h5>Meeting Rooms:</h5>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>name</th>
				</tr>

				{% for room in rooms%}
					<tr>
					<th></th>
						<td>{{room.name}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'home'%}">View</a></td>
					</tr>
				{% endfor %}

			</table>
        	<div class="pagination">
			    <span class="step-links">
			        {% if rooms.has_previous %}
			            <a href="?page=1">&laquo; first</a>
			            <a href="?page={{ rooms.previous_page_number }}">previous</a>
			        {% endif %}
			
			        <span class="current">
			            Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}.
			        </span>
			
			        {% if rooms.has_next %}
			            <a href="?page={{ rooms.next_page_number }}">next</a>
			            <a href="?page={{ rooms.paginator.num_pages }}">last &raquo;</a>
			        {% endif %}
			    </span>
			</div> 
		</div>
</div>


{% endblock %}

